* { margin: 0; }
#header {
	min-height: 120px;
	background: #000 url(../images/tile_1.png);	
	border-bottom: 1px solid #222;
}
body {
	background: #fff url(../images/background.png);
	font-family: "Myriad Pro", "Myriad", helvetica, sans-serif;
	
}
#navigator {
	height: 250px;
	background: #000 url(../images/tile_2.png);
	overflow: hidden;
}
#header #logo {
	background-image: url(../images/logo.png);
	width: 62px;
	height: 61px;
	position: absolute;
	top: 30px;
	left: 150px;
}
#header .name {
	font-family: "Myriad Pro", "Myriad", helvetica, sans-serif;
	font-size: 35px;
	position: absolute;
	text-shadow: 1px 1px 4px #000;
	text-transform: uppercase;
}
#header #first-name {
	margin-left: 30px;
	color: #ddddde;
	margin-top: 43px;
}
#header #last-name {
	position: absolute;
	color: #d3d4d4;
	left: 230px;
	top: 43px;
}
#header #tagline {
	font-family: "Myriad Pro", "Myriad", helvetica, sans-serif;
	font-size: 18px;
	position: absolute;
	margin-left: 125px;
	margin-top: 95px;
	color: #b2b2b2;
	opacity: .1;
}
#header-logo #tagline.active {
	opacity: 1;
	-webkit-transition: opacity 0.3s linear; 
}
#header-logo #tagline.inactive {
	opacity: .1;
	-webkit-transition: opacity 0.3s linear;
}
#main-navigation a {
	text-decoration: none;
	color: #ddddde;
	font-family: "Myriad Pro", "Myriad", helvetica, sans-serif;
	margin-right: 20px;
	font-size: 14px;
	padding: 6px 8px 6px 8px;
	-webkit-border-radius: 5px;
	background: rgba(25,25,25,0.4);
	opacity: .9;
}
#main-navigation a:hover {
	opacity: 1;
	_-webkit-box-shadow: 0px 1px 1px #303740;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666d77), to(#454b53));
	
}
#main-navigation a:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#595f68), to(#454b54));
}
#navigator #main-navigation {
	width: 270px;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
#project-container {
	width: 100%;
	height: 100px;
	display: inline-block;
}
.project {
	position: absolute;
	width: 100%;
	height: 175px;
	margin-top: 7px;
	float: left;
}
.project .content {
	background-color: #fff;
	font-family: "Myriad Pro", "Myriad", helvetica, sans-serif;
	font-size: 18px;
	color: #303030;
	padding: 10px;
	border: 1px solid #202020;
	margin-left: 20px;	
	margin-right: 20px;
	background: #b2b2b2 url(../images/project_bg.png);
	height: 140px;
	border-radius: 7px;
	-webkit-box-shadow: 1px 1px 4px #323232;
}
#current-project-header {
	font-family: "Kaushan Script","Myriad Pro", "Myriad", helvetica, cursive;
	font-size: 28px;
	padding-top: 10px;
	margin-left: 25px;
	color: #ddddde;
}
#link-indicator {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 40px;
	height: 34px;
	background-image: url(../images/link_indicator.png);
	z-index: 0;
}